.msds-pw-popup,.msds-pw-overlay,.msds-pw-button{z-index:9999999!important}
.msds-pw-popup{transition:opacity .25s ease,transform .25s ease;}
.msds-pw-popup[hidden]{opacity:0;transform:scale(.95);pointer-events:none;}
.msds-pw-overlay{opacity:0;transition:opacity .25s ease;}
.msds-pw-overlay:not([hidden]){opacity:1;}
